<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/includes/header :: copy}"></head>
<body>
<div id="wrap">
  <div th:replace="~{/includes/blog-header :: copy}"></div>

  <div id="content" class="clearfix">
    <div id="profilecate_area">
      <div id="profile">
        <img id="proImg" src="${pageContext.request.contextPath}/upload/${requestScope.blogVo.logoFile}">

        <div id="nick">${requestScope.blogVo.userName}(${requestScope.blogVo.id})님</div>
      </div>
      <div id="cate">
        <div class="text-left">
          <strong>카테고리</strong>
        </div>
        <ul id="cateList" class="text-left">
          <c:forEach items="${requestScope.categoryList}" var="vo">
            <li><a href="${pageContext.request.contextPath}/${requestScope.blogVo.id}/catePost?cateNo=${vo.cateNo}">${vo.cateName}</a></li>
          </c:forEach>
        </ul>
      </div>
    </div>
    <!-- profilecate_area -->
    <div id="post_area">
      <c:choose>
        <c:when test="${empty requestScope.postVo}">
          <div id="postBox" class="clearfix">
            <div id="postTitle" class="text-left">
              <strong>등록된 글이 없습니다.</strong>
            </div>
            <div id="postDate" class="text-left">
              <strong></strong>
            </div>
            <div id="postNick"></div>
          </div>
          <div id="post"></div>
        </c:when>
        <c:otherwise>
          <div id="postBox" class="clearfix">
            <div id="postTitle" class="text-left">
              <strong>${requestScope.postVo.postTitle}</strong>
            </div>
            <div id="postDate" class="text-left">
              <strong>${requestScope.postVo.regDate}</strong>
            </div>
            <div id="postNick">${requestScope.blogVo.userName}(${requestScope.blogVo.id})님</div>
          </div>
          <!-- //postBox -->

          <div id="post">${requestScope.postVo.postContent}</div>
          <!-- //post -->
        </c:otherwise>
      </c:choose>

      <div id="list">
        <div id="listTitle" class="text-left">
          <strong>카테고리의 글</strong>
        </div>
        <table>
          <colgroup>
            <col style="">
            <col style="width: 20%;">
          </colgroup>
          <c:forEach items="${requestScope.postList}" var="vo">
            <tr>
              <td class="text-left"><a href="${pageContext.request.contextPath}/${requestScope.blogVo.id}/read/${requestScope.categoryVo.cateNo}?postNo=${vo.postNo}">${vo.postTitle}</a></td>
              <td class="text-right">${vo.regDate}</td>
            </tr>
          </c:forEach>
        </table>
      </div>
      <!-- //list -->
    </div>
    <!-- //post_area -->
  </div>
  <!-- //content -->
  <div class=></div>
  <div th:replace="~{/includes/blog-footer :: copy}"></div>
</div>
<!-- //wrap -->
</body>
</html>