<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/includes/header :: copy}"></head>
<body>
    <div id="center-content">
        <div th:replace="~{/includes/main-header :: copy}"></div>

        <form id="search-form">
            <fieldset>
                <input type="text" name="keyword" >
                <button id="btnSearch" type="submit">검색</button>
            </fieldset>

            <fieldset>
                <label for="rdo-title">블로그 제목</label>
                <input id="rdo-title" type="radio" name="kwdOpt" value="optTitle" >

                <label for="rdo-userName">블로거 이름</label>
                <input id="rdo-userName" type="radio" name="kwdOpt" value="optName" >
            </fieldset>
        </form>

        <div th:replace="~{/includes/main-footer :: copy}"></div>
    </div>
</body>
</html>