<div id="header" class="clearfix" th:fragment="copy">
    <h1>
        <a>블로그 타이틀</a>
    </h1>
    <ul class="clearfix">
        <li th:if="${session.authUser == null}"><a class="btn_s" th:href="@{/member/loginForm}">로그인</a></li>
        <li th:if="${session.authUser != null}"><a class="btn_s" th:href="@{/${param1}/admin/basic (param1=${session.authUser.memberId})}">내블로그 관리</a></li>
        <li th:if="${session.authUser != null}"><a class="btn_s" th:href="@{/member/loginForm}">로그아웃</a></li>
    </ul>
</div>